.post {
    border-bottom: thin solid #ccc;
    padding-bottom: 10px;
}

.post img {
    max-width: 100%;
    max-height: 300px;
}

.post h1 {
    color: #333;
    font-size: 16px;
    padding: 10px 0;
    height: 45px;
}

.post-goto {
    font-size: 18px;
    font-weight: 500;
}

.post-goto a {
    color: #538EC5;
    font-weight: 700;
    font-size: 16px;
}

.post-goto span {
    color: #555;
}

.content {
    margin-top: 50px;
}